body, html {
    display: flex;
    font-size: 10px;
    background-image: url('image/rock-paper-scissor.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
    /* position: relative; */
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
  }

  .BoxTop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 15%;
  }

.box {
  /* position: absolute;
  top: 25%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 30%;
}

button{
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  font-size: x-large;
  font-weight: bold;
}
#ResultBox {
  font-size: x-large;
  font-weight: bold;
}

#PlayerBox {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  width: 25%;
  height: 75%;
}
#PlayerSelect {
  display: flex;
  box-sizing: border-box;
  border-color: black;
  width: auto;
  padding-top: 10px;
  height: 15%;
  font-size: x-large;
  font-weight: bolder;
}

#PlayerScore {
  display: flex;
  box-sizing: border-box;
  border-color: black;
  width: auto;
  padding-top: 10px;
  height: 15%;
  font-size: x-large;
  font-weight: bolder;
}

#ComputerBox {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  width: 25%;
  height: 75%;
}

#ComputerScore {
  display: flex;
  box-sizing: border-box;
  border-color: black;
  width: auto;
  padding-top: 10px;
  height: 15%;
  font-size: x-large;
  font-weight: bolder;
}

#ComputerSelect {
  display: flex;
  box-sizing: border-box;
  padding-top: 10px;
  width: auto;
  height: 25%;
  font-size: x-large;
  font-weight: bolder;
}

#ResultBox {
  height: 20%;
}